/* ConstituencyStyle for ORIGINAL theme                                                                */

/* The constituency look and feel is determined using the following rules:                             */
/* 1) Background color should match lightest gradient in background image (sub-BGxxx)                  */
/* 2) Three color hues (border, background, text color) are needed for submenu boxes and screen tables */
/* 3) For the submenus, background color is the lightest.  Color is the darkest                        */
/* 4) Menu title box uses reverse of submenu fore/background colors                                    */
/* 5) Tables alternate between border and background (the 2 lightest colors)                           */


/* Continuing Education constituency (WBCE) */
.WBCE                     {background-color:#F4D16B; background-image:url(./images/sub-BGContinuing.jpg);}
.WBCE #bodyConstituency   {color:white;}
.WBCE #bodyForm           {border-color:#EDC44C;}
.WBCE .menu .submenu,
.WBCE .submit INPUT, .WBCE .pagingbutton       {border-color:#EDC44C; color:black; background-color:#F4D16B;}
.WBCE .submit INPUT:hover,
.WBCE .submit INPUT.buttonPress,
.WBCE #menuTitle          {border-color:#EDC44C; background-color:#CE9C07; color:#F4D16B;}
.WBCE .menu a:hover,
.WBCE .menu .submenu a:hover {color:blue;}

.WBCE table tr td.oddrow         {background-color: #F4D16B; border:1px solid black;}
.WBCE table tr td.evenrow        {background-color: #FFFFFF; border:1px solid black;}
.WBCE table tr td.oddrow input   {background-color: #FFFFFF;}
.WBCE table tr td.evenrow input  {background-color: #FFFFFF;}
.WBCE table tr td.oddrow select  {background-color: #FFFFFF;}
.WBCE table tr td.evenrow select {background-color: #FFFFFF;}
.WBCE table th.groupTitle {display: none; }/*text-align: center;} */
.WBCE .envisionList .oddrow,
.WBCE .envisionList .evenrow {border-style: none;}
#mainMenu a.WBCE_Bars        {border:3px solid #CE9C07; background-color:#CE9C07; }
#mainMenu a.WBCE_Bars:hover  {border:3px solid #F4D16B}
#mainMenu li.WBCE_Boxes      {background-image:url(./images/main-pathContinue.jpg); }
#mainMenu li.WBCE_DISABLED   {background-image:url(./images/main-pathContinueGRAY.jpg);}
#mainMenu li.WBCE_Boxes a:hover {font-size:12px;}

.WBCE hr                  {height:2px; background-color: #CE9C07; color: #CE9C07}

/*--------------------------------------------------------------------------------------------------------*/

/* Prospective Students constituency (WBAP) */
.WBAP                     {background-color:#5F8BB1; background-image:url(./images/sub-BGProspects.jpg);}
.WBAP #bodyConstituency   {color:white;}
.WBAP #bodyForm           {border-color:#94B2CD;}
.WBAP .menu .submenu,
.WBAP .submit INPUT, .WBAP .pagingbutton       {border-color:#94B2CD; color:black; background-color:#C3D8EA;}
.WBAP .submit INPUT:hover,
.WBAP .submit INPUT.buttonPress,
.WBAP #menuTitle          {border-color:#94B2CD; background-color:#1D4670; color:#67B2FF;}
.WBAP .menu a:hover,
.WBAP .menu .submenu a:hover {color:blue;}

.WBAP table tr td.oddrow         {background-color: #94B2CD; border:1px solid black;}
.WBAP table tr td.evenrow        {background-color: #FFFFFF; border:1px solid black;}
.WBAP table tr td.oddrow input   {background-color: #FFFFFF;}
.WBAP table tr td.evenrow input  {background-color: #FFFFFF;}
.WBAP table tr td.oddrow select  {background-color: #FFFFFF;}
.WBAP table tr td.evenrow select {background-color: #FFFFFF;}
.WBAP table th.groupTitle {display: none; }/*text-align: center;} */
.WBAP .envisionList .oddrow,
.WBAP .envisionList .evenrow {border-style: none;}
#mainMenu a.WBAP_Bars        {border:3px solid #1D4670; background-color:#1D4670;}
#mainMenu a.WBAP_Bars:hover  {border:3px solid #67B2FF}
#mainMenu li.WBAP_Boxes      {background-image:url(./images/main-pathProspect.jpg); }
#mainMenu li.WBAP_DISABLED   {background-image:url(./images/main-pathProspectGRAY.jpg);}
#mainMenu li.WBAP_Boxes a:hover {font-size:12px;}

.WBAP hr                  {height:2px; background-color: #5F8BB1; color: #5F8BB1}

/*--------------------------------------------------------------------------------------------------------*/


/* Current Students constituency (WBST) */
.WBST                     {background-color:#ECBD8F; background-image:url(./images/sub-BGCurrentStudents.jpg);}
.WBST #bodyConstituency   {color:white;}
.WBST #bodyForm           {border-color:#DFA060;}
.WBST .menu .submenu,
.WBST .submit INPUT, .WBST .pagingbutton {border-color:#DFA060; color:black; background-color:#ECBD8F;}
.WBST .submit INPUT:hover,
.WBST .submit INPUT.buttonPress,
.WBST #menuTitle          {border-color:#DFA060; background-color:#C87522; color:#ECBD8F;}
.WBST .menu a:hover,
.WBST .menu .submenu a:hover {color:blue;}

.WBST table tr td.oddrow         {background-color: #ECBD8F; border:1px solid black;}
.WBST table tr td.evenrow        {background-color: #FFFFFF; border:1px solid black;}
.WBST table tr td.oddrow input   {background-color: #FFFFFF;}
.WBST table tr td.evenrow input  {background-color: #FFFFFF;}
.WBST table tr td.oddrow select  {background-color: #FFFFFF;}
.WBST table tr td.evenrow select {background-color: #FFFFFF;}
.WBST table th.groupTitle {display: none; }/*text-align: center;} */
.WBST .envisionList .oddrow,
.WBST .envisionList .evenrow {border-style: none;}
#mainMenu a.WBST_Bars        {border:3px solid #C87522; background-color:#C87522;}
#mainMenu a.WBST_Bars:hover  {border:3px solid #ECBD8F}
#mainMenu li.WBST_Boxes      {background-image:url(./images/main-pathCurrent.jpg); }
#mainMenu li.WBST_DISABLED   {background-image:url(./images/main-pathCurrentGRAY.jpg);}
#mainMenu li.WBST_Boxes a:hover {font-size:12px;}

.WBST hr                  {height:2px; background-color: #C87522; color: #C87522}

/*--------------------------------------------------------------------------------------------------------*/

/* Current Guest constituency (XWBGU) */
.XWBGU                     {background-color:#ECBD8F; background-image:url(./images/sub-BGCurrentStudents.jpg);}
.XWBGU #bodyConstituency   {color:white;}
.XWBGU #bodyForm           {border-color:#DFA060;}
.XWBGU .menu .submenu,
.XWBGU .submit INPUT, .XWBGU .pagingbutton {border-color:#DFA060; color:black; background-color:#ECBD8F;}
.XWBGU .submit INPUT:hover,
.XWBGU .submit INPUT.buttonPress,
.XWBGU #menuTitle          {border-color:#DFA060; background-color:#C87522; color:#ECBD8F;}
.XWBGU .menu a:hover,
.XWBGU .menu .submenu a:hover {color:blue;}

.XWBGU table tr td.oddrow         {background-color: #ECBD8F; border:1px solid black;}
.XWBGU table tr td.evenrow        {background-color: #FFFFFF; border:1px solid black;}
.XWBGU table tr td.oddrow input   {background-color: #FFFFFF;}
.XWBGU table tr td.evenrow input  {background-color: #FFFFFF;}
.XWBGU table tr td.oddrow select  {background-color: #FFFFFF;}
.XWBGU table tr td.evenrow select {background-color: #FFFFFF;}
.XWBGU table th.groupTitle {display: none; }/*text-align: center;} */
.XWBGUT .envisionList .oddrow,
.XWBGU .envisionList .evenrow {border-style: none;}
#mainMenu a.XWBGU_Bars        {border:3px solid #C87522; background-color:#C87522;}
#mainMenu a.XWBGU_Bars:hover  {border:3px solid #ECBD8F}
#mainMenu li.XWBGU_Boxes      {background-image:url(./images/main-pathCurrent.jpg); }
#mainMenu li.XWBGU_DISABLED   {background-image:url(./images/main-pathCurrentGRAY.jpg);}
#mainMenu li.XWBGU_Boxes a:hover {font-size:12px;}

.XWBGU hr                  {height:2px; background-color: #C87522; color: #C87522}

/*--------------------------------------------------------------------------------------------------------*/


/* Faculty constituency (WBFC) */
.WBFC                     {background-color:#CBCBA8; background-image:url(./images/sub-BGFaculty.jpg);}
.WBFC #bodyConstituency   {color:white;}
.WBFC #bodyForm           {border-color:#A2A275;}
.WBFC .menu .submenu,
.WBFC .submit INPUT, .WBFC .pagingbutton       {border-color:#A2A275; color:black; background-color:#CBCBA8;}
.WBFC .submit INPUT:hover,
.WBFC .submit INPUT.buttonPress,
.WBFC #menuTitle          {border-color:#A2A275; background-color:#85865F; color:#CBCBA8;}
.WBFC .menu a:hover,
.WBFC .menu .submenu a:hover {color:blue;}

.WBFC table tr td.oddrow         {background-color: #CBCBA8; border:1px solid black;}
.WBFC table tr td.evenrow        {background-color: #FFFFFF; border:1px solid black;}
.WBFC table tr td.oddrow input   {background-color: #FFFFFF;}
.WBFC table tr td.evenrow input  {background-color: #FFFFFF;}
.WBFC table tr td.oddrow select  {background-color: #FFFFFF;}
.WBFC table tr td.evenrow select {background-color: #FFFFFF;}
.WBFC table th.groupTitle {display: none; }/*text-align: center;} */
.WBFC .envisionList .oddrow,
.WBFC .envisionList .evenrow {border-style: none;}
#mainMenu a.WBFC_Bars        {border:3px solid #85865F; background-color:#85865F;}
#mainMenu a.WBFC_Bars:hover  {border:3px solid #CBCBA8}
#mainMenu li.WBFC_Boxes      {background-image:url(./images/main-pathFaculty.jpg); }
#mainMenu li.WBFC_DISABLED   {background-image:url(./images/main-pathFacultyGRAY.jpg);}
#mainMenu li.WBFC_Boxes a:hover {font-size:12px;}

.WBFC hr                  {height:2px; background-color: #85865F; color: #85865F}

/*--------------------------------------------------------------------------------------------------------*/

/* Employees constituency (WBEM) */
.WBEM                     {background-color:#AE7390; background-image: url(./images/sub-BGEmployees.jpg);}
.WBEM #bodyConstituency   {color:white;}
.WBEM #bodyForm           {border-color:#C99EB4;}
.WBEM .menu .submenu,
.WBEM .submit INPUT, .WBEM .pagingbutton       {border-color:#C99EB4; color:black; background-color:#AE7390;}
.WBEM .submit INPUT:hover,
.WBEM .submit INPUT.buttonPress,
.WBEM #menuTitle          {border-color:#C99EB4; background-color:#701D46; color:#AE7390;}
.WBEM .menu a:hover,
.WBEM .menu .submenu a:hover {color:blue;}

.WBEM table tr td.oddrow         {background-color: #C99EB4; border:1px solid black;}
.WBEM table tr td.evenrow        {background-color: #FFFFFF; border:1px solid black;}
.WBEM table tr td.oddrow input   {background-color: #FFFFFF;}
.WBEM table tr td.evenrow input  {background-color: #FFFFFF;}
.WBEM table tr td.oddrow select  {background-color: #FFFFFF;}
.WBEM table tr td.evenrow select {background-color: #FFFFFF;}
.WBEM table th.groupTitle {display: none; }/*text-align: center;} */
.WBEM .envisionList .oddrow,
.WBEM .envisionList .evenrow {border-style: none;}
#mainMenu a.WBEM_Bars        {border:3px solid #701D46; background-color:#701D46;}
#mainMenu a.WBEM_Bars:hover  {border:3px solid #AE7390}
HTML>BODY #mainMenu li.WBEM_Boxes  {margin-left:98px;}
#mainMenu li.WBEM_Boxes      {background-image:url(./images/main-pathEmployee.jpg); margin-left:49px;}
/* Non-IE browsers */
#mainMenu li.WBEM_DISABLED   {background-image:url(./images/main-pathEmployeeGRAY.jpg); margin-left:98px;}
/* IE specific */
* html #mainMenu li.WBEM_DISABLED   {background-image:url(./images/main-pathEmployeeGRAY.jpg); margin-left:49px;}
#mainMenu li.WBEM_Boxes a:hover {font-size:12px;}

.WBEM hr                  {height:2px; background-color: #701D46; color: #701D46}

/*--------------------------------------------------------------------------------------------------------*/

/* Vendors constituency (WBVN) */
.WBVN                     {background-color:#D9D98A; background-image: url(./images/sub-BGVendors.jpg);}
.WBVN #bodyConstituency   {color:white;}
.WBVN #bodyForm           {border-color:#C5C47B;}
.WBVN .menu .submenu,
.WBVN .submit INPUT, .WBVN .pagingbutton       {border-color:#C5C47B; color:black; background-color:#D9D98A;}
.WBVN .submit INPUT:hover,
.WBVN .submit INPUT.buttonPress,
.WBVN #menuTitle          {border-color:#C5C47B; background-color:#C3C134; color:#D9D98A;}
.WBVN .menu a:hover,
.WBVN .menu .submenu a:hover {color:blue;}

.WBVN table tr td.oddrow         {background-color: #D9D98A; border:1px solid black;}
.WBVN table tr td.evenrow        {background-color: #FFFFFF; border:1px solid black;}
.WBVN table tr td.oddrow input   {background-color: #FFFFFF;}
.WBVN table tr td.evenrow input  {background-color: #FFFFFF;}
.WBVN table tr td.oddrow select  {background-color: #FFFFFF;}
.WBVN table tr td.evenrow select {background-color: #FFFFFF;}
.WBVN table th.groupTitle {display: none; }/*text-align: center;} */
.WBVN .envisionList .oddrow,
.WBVN .envisionList .evenrow {border-style: none;}
#mainMenu a.WBVN_Bars        {border:3px solid #C3C134; background-color:#C3C134;}
#mainMenu a.WBVN_Bars:hover  {border:3px solid #D9D98A}
#mainMenu li.WBVN_Boxes      {background-image:url(./images/main-pathVendor.jpg); }
#mainMenu li.WBVN_DISABLED   {background-image:url(./images/main-pathVendorGRAY.jpg);}
#mainMenu li.WBVN_Boxes a:hover {font-size:12px;}

.WBVN hr                  {height:2px; background-color: #C3C134; color: #C3C134}

/*--------------------------------------------------------------------------------------------------------*/

/* Advancement Officers constituency (WBAO) */
.WBAO                     {background-color:#BDDD7F; background-image:url(./images/sub-BGAdvancement.jpg);}
.WBAO #bodyConstituency   {color:white;}
.WBAO #bodyForm           {border-color:#94A66F;}
.WBAO .menu .submenu,
.WBAO .submit INPUT, .WBAO .pagingbutton       {border-color:#94A66F; color:black; background-color:#BDDD7F;}
.WBAO .submit INPUT:hover,
.WBAO .submit INPUT.buttonPress,
.WBAO #menuTitle          {border-color:#94A66F; background-color:#8DBB2E; color:#BDDD7F;}
.WBAO .menu a:hover,
.WBAO .menu .submenu a:hover {color:blue;}

.WBAO table tr td.oddrow         {background-color: #BDDD7F; border:1px solid black;}
.WBAO table tr td.evenrow        {background-color: #FFFFFF; border:1px solid black;}
.WBAO table tr td.oddrow input   {background-color: #FFFFFF;}
.WBAO table tr td.evenrow input  {background-color: #FFFFFF;}
.WBAO table tr td.oddrow select  {background-color: #FFFFFF;}
.WBAO table tr td.evenrow select {background-color: #FFFFFF;}
.WBAO table th.groupTitle {display: none; }/*text-align: center;} */
.WBAO .envisionList .oddrow,
.WBAO .envisionList .evenrow {border-style: none;}
#mainMenu a.WBAO_Bars        {border:3px solid #8DBB2E; background-color:#8DBB2E;}
#mainMenu a.WBAO_Bars:hover  {border:3px solid #BDDD7F}
#mainMenu li.WBAO_Boxes      {background-image:url(./images/main-pathAdvance.jpg); }
#mainMenu li.WBAO_DISABLED   {background-image:url(./images/main-pathAdvanceGRAY.jpg);}
#mainMenu li.WBAO_Boxes a:hover {font-size:12px;}

.WBAO hr                  {height:2px; background-color: #8DBB2E; color: #8DBB2E}

/*--------------------------------------------------------------------------------------------------------*/

/* Alumni and Friends constituency (WBAF) */
.WBAF                     {background-color:#EB9F81; background-image:url(./images/sub-BGAlumni.jpg);}
.WBAF #bodyConstituency   {color:white;}
.WBAF #bodyForm           {border-color:#DB8666;}
.WBAF .menu .submenu,
.WBAF .submit INPUT, .WBAF .pagingbutton       {border-color:#DB8666; color:black; background-color:#EB9F81;}
.WBAF .submit INPUT:hover,
.WBAF .submit INPUT.buttonPress,
.WBAF #menuTitle          {border-color:#DB8666; background-color:#BB5932; color:#EB9F81;}
.WBAF .menu a:hover,
.WBAF .menu .submenu a:hover {color:blue;}

.WBAF table tr td.oddrow         {background-color: #EB9F81; border:1px solid black;}
.WBAF table tr td.evenrow        {background-color: #FFFFFF; border:1px solid black;}
.WBAF table tr td.oddrow input   {background-color: #FFFFFF;}
.WBAF table tr td.evenrow input  {background-color: #FFFFFF;}
.WBAF table tr td.oddrow select  {background-color: #FFFFFF;}
.WBAF table tr td.evenrow select {background-color: #FFFFFF;}
.WBAF table th.groupTitle {display: none; }/*text-align: center;} */
.WBAF .envisionList .oddrow,
.WBAF .envisionList .evenrow {border-style: none;}
#mainMenu a.WBAF_Bars        {border:3px solid #BB5932; background-color:#BB5932;}
#mainMenu a.WBAF_Bars:hover  {border:3px solid #EB9F81}
HTML>BODY #mainMenu li.WBAF_Boxes  {margin-left:196px;}
#mainMenu li.WBAF_Boxes      {background-image:url(./images/main-pathAlumni.jpg); margin-left:98px; }
/* Non-IE browsers */
#mainMenu li.WBAF_DISABLED   {background-image:url(./images/main-pathAlumniGRAY.jpg); margin-left:196px; }
/* IE specific */
* html #mainMenu li.WBAF_DISABLED   {background-image:url(./images/main-pathAlumniGRAY.jpg); margin-left:98px; }
#mainMenu li.WBAF_Boxes a:hover {font-size:12px;}

.WBAF hr                  {height:2px; background-color: #BB5932; color: #BB5932}

/*--------------------------------------------------------------------------------------------------------*/

/* Advisors constituency (WBAD) */
.WBAD                     {background-color:#A6B4BD; background-image:url(./images/sub-BGAdvisors.jpg);}
.WBAD #bodyConstituency   {color:white;}
.WBAD #bodyForm           {border-color:#A6B4BD;}
.WBAD .menu .submenu,
.WBAD .submit INPUT, .WBAD .pagingbutton       {border-color:#A6B4BD; color:black; background-color:#C6D6DF;}
.WBAD .submit INPUT:hover,
.WBAD .submit INPUT.buttonPress,
.WBAD #menuTitle          {border-color:#A6B4BD; background-color:#697B85; color:#C6D6DF;}
.WBAD .menu a:hover,
.WBAD .menu .submenu a:hover {color:blue;}

.WBAD table tr td.oddrow         {background-color: #C6D6DF; border:1px solid black;}
.WBAD table tr td.evenrow        {background-color: #FFFFFF; border:1px solid black;}
.WBAD table tr td.oddrow input   {background-color: #FFFFFF;}
.WBAD table tr td.evenrow input  {background-color: #FFFFFF;}
.WBAD table tr td.oddrow select  {background-color: #FFFFFF;}
.WBAD table tr td.evenrow select {background-color: #FFFFFF;}
.WBAD table th.groupTitle {display: none; }/*text-align: center;} */
.WBAD .envisionList .oddrow,
.WBAD .envisionList .evenrow {border-style: none;}
#mainMenu a.WBAD_Bars        {border:3px solid #697B85; background-color:#697B85;}
#mainMenu a.WBAD_Bars:hover  {border:3px solid #C6D6DF}
#mainMenu li.WBAD_Boxes      {background-image:url(./images/main-pathAdvisor.jpg);}
#mainMenu li.WBAD_DISABLED   {background-image:url(./images/main-pathAdvisorGRAY.jpg);}
#mainMenu li.WBAD_Boxes a:hover {font-size:12px;}

.WBAD hr                  {height:2px; background-color: #697B85; color: #697B85}

/*--------------------------------------------------------------------------------------------------------*/

/* Default/Null constituency (WBDF) */
.WBDF                     {background-color:#CBCBCB; background-image:url(./images/sub-BGDefault.jpg);}
.WBDF #bodyForm           {border-color:#CBCBCB;}
.WBDF .menu .submenu,
.WBDF .submit INPUT, .WBDF .pagingbutton       {border-color:#5D5959; color:black; background-color:#CBCBCB;}
.WBDF .submit INPUT:hover,
.WBDF .submit INPUT.buttonPress,
.WBDF #menuTitle          {border-color:#5D5959; background-color:#6A6A6A; color:#CBCBCB;}
.WBDF .menu a:hover,
.WBDF .menu .submenu a:hover {color:blue;}

.WBDF table tr td.oddrow         {background-color: #CBCBCB; border:1px solid #000000;}
.WBDF table tr td.evenrow        {background-color: #FFFFFF; border:1px solid #000000;}
.WBDF table tr td.oddrow input   {background-color: #FFFFFF;}
.WBDF table tr td.evenrow input  {background-color: #FFFFFF;}
.WBDF table tr td.oddrow select  {background-color: #FFFFFF;}
.WBDF table tr td.evenrow select {background-color: #FFFFFF;}

.WBDF table th.groupTitle {display: none; }/*text-align: center;} */
.WBDF .envisionList .oddrow,
.WBDF .envisionList .evenrow {border-style: none;}
.WBDF hr                  {height:2px; background-color: #6A6A6A; color: #6A6A6A}


/*--------------------------------------------------------------------------------------------------------*/
